.footer {
  background-color: #aaa69d;
  position: sticky;
  width: 100%;
  padding: 0px;
  position: fixed;
  bottom: 0%;
}

h7 {
  color: #f1f2f6;
  font-size: 13px;
}
h5 {
  color: #f1f2f6;
  font-size: 14px;
}
h6 {
  color: #f1f2f6;
  font-size: 13px;
}
